body {
	transition: all 1s;
	background-color: black;
	color: white;
	font-weight: bold;
	font-family: "Lucida Console", Monaco, monospace;
}

.light-mode {
	background-color: white;
	color: black;
}

a {
	background-color: red;
	margin: 20px;
	padding: 20px;
}

header {
	vertical-align: text-bottom;
}

header h1 {
	vertical-align: top;
	color: green;
	display: inline;
	margin: 0;
}

ul {
	display: inline;
 /**top right bottom left
 */
	padding: 0 0 0 0px;
}

ul li {
	cursor: pointer;
	display: inline-block;
	list-style-type: none;
	transition: all 0.4s;
}

.alt {
	color: green;
	font-size:99px;
}

#bruh.expand {
	font-size: 100px;
	background-color: black;
	color: white;
	display: inline-block;
	list-style-type: none;
}

div.hidden {
	display: none;
}