@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
/** https://stackoverflow.com/questions/12316501/including-google-web-fonts-link-or-import/12380004#12380004 */

body {
	transition: all 1s;
	background-color: black;
	color: whitesmoke;
	font-weight: bold;
	font-family: 'Roboto Mono';
	/**background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
	/**background: linear-gradient(-45deg, #1F2023, #2c4147, #15444e, #094261);*/
	background: linear-gradient(-45deg, #3b1520, #3b0f1f, #0a323f, #094235);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar {
	display:flex;
	align-items:center;
	justify-content:center;
}

p {
	background-color: rgba(37, 37, 37, 1);
	padding: 1%;
	font-size: 33%;
	text-align:justify;
	margin-left:20%;
	margin-right:20%;
}

a {
	margin: 20px;
	padding: 20px;
}


#loc {
	color: whitesmoke;
	background-color: rgba(37, 37, 37, 1);
	text-align: center;
	box-shadow: 0.5em 0 0 0 #fff;
	overflow: hidden;
	white-space: nowrap;
	animation: ticker .5s step-end infinite alternate
}

img.icon {
	cursor: pointer;
	width: 48px;
	height: 48px;
}
	
@keyframes type {
	0% {
		width: 0;
	}
}

/** or can specify #ccc 100%, 0-49%, transp 50%-99% w/o reversal */
@keyframes ticker { 
	50% { 
		box-shadow: 0.5em 0 0 0 rgb(37, 37, 37, 1); /** transparent */
	}
}

ul {
 /**top right bottom left*/
	padding: 0 0 0 0px;
}

.navi {
	cursor: pointer;
	display: inline-block;
	list-style-type: none;
	transition: all 0.4s;
}

.alt {
	color: #0f5037;
	font-size:150%;
}


#back {
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
}

img.sprite {
	image-rendering:pixelated;
	position: fixed;
}

.hidden {
	display: none;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

/** debugging: highlights region */
.hl {
	border:3px solid red;
	display:flex;
	justify-content:center;
}